.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    /* Reduced height to lessen vertical space */
    margin: 0 auto;
}

#pokemon-name-search {
    width: 600px;
    padding: 1.5rem;
    margin-top: 0;
    /* Ensure no extra margin is added */
}